## Imports
Execute the cell below to import all packages needed.

In [1]:
# System functionality
import sys
sys.path.append('..')

import glob
import os
import numpy as np 
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as font_manager
import seaborn as sns
import graphviz
import math as math
import json
import numpy
import cv2
import scipy.stats as stats
import matplotlib.image as mpimg
import sklearn.feature_selection as feature_selection
from skimage import data, io, filters
from numpy import linspace
from numpy.core.umath import pi
from matplotlib.ticker import FuncFormatter
from matplotlib.font_manager import FontProperties
from emoji_extractor.extract import Extractor
from emojipedia import Emojipedia
from skimage import io
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import chi2_contingency
from scipy.interpolate import spline

## Load csv into pandas dataframe

In [2]:
path__tweets_csv = '/home/stelios/Desktop/Honours Project/Samples/tweet_data/tweets_nyc_all.csv'
path_users_csv = '/home/stelios/Desktop/Honours Project/Samples/user_data/nyc.csv'

nyc_join_df = pd.read_csv(path__tweets_csv,index_col=None, header=0, low_memory = False).applymap(str).join(pd.read_csv(path_users_csv,index_col=None, header=0, low_memory = False).applymap(str).set_index('user_id'), on='user_id')

In [3]:
nyc_join_df.columns

Index(['user_id', 'user_name', 'user_screen_name', 'user_statuses_count',
       'tweet_id', 'hashtags', 'is_quote_status', 'text', 'created_at',
       'source', 'in_reply_to_screen_name', '_unit_id', '_golden',
       '_unit_state', '_trusted_judgments', '_last_judgment_at', 'ethnicity',
       'ethnicity:confidence', 'gender', 'gender:confidence',
       'reason_not_valid', 'reason_not_valid:confidence', 'valid_photo',
       'valid_photo:confidence',
       'which_icon_most_closely_matches_the_persons_skin_tone',
       'which_icon_most_closely_matches_the_persons_skin_tone:confidence',
       'ethnicity_gold', 'gender_gold', 'image_url', 'reason_not_valid_gold',
       'valid_photo_gold',
       'which_icon_most_closely_matches_the_persons_skin_tone_gold'],
      dtype='object')

In [4]:
# Gia kathe user:
# 1) Number of tweets 2) Number of tweets with emojis

# For all users (1) for all tweets, (2) for only emoji tweets:
# 1) Min number of tweets , 2) Max number of tweets, 3) Average number of tweets

In [5]:
# Load users
nyc_users_df = pd.read_csv(path_users_csv,index_col=None, header=0, low_memory = False).applymap(str)

In [100]:
# Fill pandas dataframe 
emojis_count_create_df = pd.DataFrame(columns = ['User','Tweets','Tweets_with_Emoji','Gender','Race'])
emojis_count_create_df['User'] = nyc_users_df['user_id']
emojis_count_create_df['Gender']= nyc_users_df['gender']
emojis_count_create_df['Race']= nyc_users_df['ethnicity']
emojis_count_create_df

                    User Tweets Tweets_with_Emoji  Gender      Race
0             2221622276    NaN               NaN     nan       nan
1     887676749621874688    NaN               NaN     nan       nan
2              222695169    NaN               NaN     nan     asian
3              209040086    NaN               NaN  female     white
4               47267505    NaN               NaN  female       nan
5     920700810882965504    NaN               NaN     nan       nan
6     950948463281283073    NaN               NaN     nan       nan
7              701003807    NaN               NaN     nan       nan
8              388330608    NaN               NaN     nan       nan
9              347996218    NaN               NaN  female     white
10             296732669    NaN               NaN     nan       nan
11            4223077753    NaN               NaN     nan       nan
12             382386705    NaN               NaN  female     white
13    969393511308161024    NaN               NaN     nan       nan
14             548131919    NaN               NaN    male     asian
15             355405212    NaN               NaN     nan       nan
16    923295820866375680    NaN               NaN     nan       nan
17    718230003750682624    NaN               NaN    male     white
18             953463997    NaN               NaN     nan       nan
19    821881088754745344    NaN               NaN    male       nan
20    850417281494593537    NaN               NaN    male       nan
21            2276593526    NaN               NaN  female  hispanic
22            2402338153    NaN               NaN     nan       nan
23    941085599611740160    NaN               NaN  female       nan
24            2468263454    NaN               NaN     nan       nan
25            4511541673    NaN               NaN     nan       nan
26    907142373796233216    NaN               NaN     nan       nan
27    892716285624172545    NaN               NaN  female       nan
28            3547612816    NaN               NaN    male     white
29    753637656303632384    NaN               NaN  female     white
...                  ...    ...               ...     ...       ...
9970          3566309236    NaN               NaN     nan       nan
9971           182189968    NaN               NaN     nan       nan
9972  902772103757402114    NaN               NaN  female     asian
9973          1906673454    NaN               NaN  female       nan
9974          3404877407    NaN               NaN     nan       nan
9975  950543388163502080    NaN               NaN     nan       nan
9976  923055842093498368    NaN               NaN     nan       nan
9977  818166966548656129    NaN               NaN     nan       nan
9978           607899811    NaN               NaN    male     black
9979          2915696994    NaN               NaN  female     asian
9980          2634703276    NaN               NaN    male       nan
9981          1229908159    NaN               NaN     nan       nan
9982  764790906511699969    NaN               NaN    male     asian
9983          2986213083    NaN               NaN     nan       nan
9984          2593772911    NaN               NaN     nan       nan
9985           157679319    NaN               NaN     nan       nan
9986          2741155667    NaN               NaN     nan       nan
9987            91701445    NaN               NaN    male     white
9988          2485360366    NaN               NaN     nan       nan
9989  913239140250112001    NaN               NaN  female     white
9990          2848894610    NaN               NaN  female       nan
9991           465047139    NaN               NaN    male       nan
9992          4664337432    NaN               NaN     nan       nan
9993  872279169891049472    NaN               NaN    male     asian
9994          4571876674    NaN               NaN  female     white
9995  952617021111496705    NaN               NaN  female     white
9996  821618192091148290    NaN               NaN     nan       nan
9997  863719282215178241    NaN               NaN     nan       nan
9998           953788993    NaN               NaN  female     white
9999           264607574    NaN               NaN     nan       nan

[10000 rows x 5 columns]

In [ ]:
extract = Extractor()
# Add the frequencies of tweets by User
for enum,user in enumerate (nyc_users_df['user_id']):
    #print(enum)
    tweet_emoji_count=0
    emojis_count_create_df['Tweets'][enum] = nyc_join_df.loc[nyc_join_df['user_id'] == user, 'text'].count()
    for tweet in nyc_join_df.loc[nyc_join_df['user_id'] == user, 'text']:
        if(extract.detect_emoji(tweet)==True):
            tweet_emoji_count=tweet_emoji_count+1
    emojis_count_create_df['Tweets_with_Emoji'][enum] = tweet_emoji_count

In [ ]:
# Store table
emojis_count_create_df.to_csv("/home/stelios/Desktop/Honours Project/Samples/per_user_emoji_counts/nyc_per_user_tweet_counts.csv",encoding='utf-8', index=False)